[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=https://github.com/coreos

[Service]
Type=notify
# 数据目录，需要提前进行创建
WorkingDirectory={{ data_dir }}
# 在配置文件中声明了很多变量，因此在ExecStart中就不用强制指定某些参数了，否则使用systemd管理会异常
EnvironmentFile=-{{ etcd_conf }}
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/bin/etcd \
  --peer-client-cert-auth=true"
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
