FLANNEL_OPTIONS="--etcd-endpoints={{ etcd_endpoints }} -etcd-cafile={{ etcd_ssl_dir  }}ca.pem -etcd-certfile={{ etcd_ssl_dir }}etcd.pem -etcd-keyfile={{ etcd_ssl_dir }}etcd-key.pem -etcd-prefix={{ flanneld_etcd_prefix }}"
