KUBE_APISERVER_OPTS="--logtostderr=false \
--v=4 \
--etcd-servers={{ etcd_endpoints }} \
--bind-address={{ hostip }} \
--secure-port=6443 \
--advertise-address={{ hostip }} \
--allow-privileged=true \
--service-cluster-ip-range=10.253.0.0/16 \
--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,NodeRestriction \
--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname \
--authorization-mode=RBAC,Node \
--enable-aggregator-routing=true \
--enable-bootstrap-token-auth=true \
--token-auth-file={{ cfg_dir }}token.csv \
--service-node-port-range=30000-50000 \
--tls-cert-file={{ ssl_dir }}k8s.pem  \
--tls-private-key-file={{ ssl_dir }}k8s-key.pem \
--client-ca-file={{ ssl_dir }}ca.pem \
--service-account-key-file={{ ssl_dir }}ca-key.pem \
--etcd-prefix=/KubernetesServer \
--etcd-cafile={{ etcd_ssl_dir }}ca.pem \
--etcd-certfile={{ etcd_ssl_dir }}etcd.pem \
--etcd-keyfile={{ etcd_ssl_dir }}etcd-key.pem \
--storage-backend=etcd3 \
--log-dir={{ log_dir }}{{ app }} \
--requestheader-client-ca-file={{ ssl_dir }}ca.pem \
--requestheader-allowed-names=aggregator \
--requestheader-extra-headers-prefix=X-Remote-Extra- \
--requestheader-group-headers=X-Remote-Group \
--requestheader-username-headers=X-Remote-User"
